@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root{
  --mobile: 375px;
  --desktop: 1440px;

  /* LearnMore */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);

  /* Texts */
  --gd-dark-cyan : hsl(167, 40%, 24%);
  --ph-dark-blue : hsl(198, 62%, 26%);
  --ft-dark-moderate-cyan: hsl(168, 34%, 41%);
  --footer-bg: rgb(159,210,197);
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-gray-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --body-font-size:18px;

  --font-barlow:"Barlow", serif;
  --font-fraunces: "Fraunces", serif;

  --font-fraunces-weight-700: 700;
  --font-fraunces-weight-900: 900;

  --font-hero:2rem;
  --font-article-title: 1.6rem;
  --font-two-col-title: 1.4rem;
  --font-testimonials-position:0.8rem;

}

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 5px ;
  color:black;
  text-decoration: none;
}

h1, .article__link{
  /* font-weight: ; */
  font-family: var(--font-fraunces);
  font-weight: var(--font-fraunces-weight-700);
}

h3, .testimonials__name, .two-col__title{
  font-family: var(--font-fraunces);
  font-weight: var(--font-fraunces-weight-900);
}

body{
  font-family: var(--font-barlow);
  font-size: var(--body-font-size);
  line-height: 1.3;
}

.hero__img{
  position:relative;
}

.nav{
  position:absolute;
  top:20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:90%;
}

.intro__container{
  margin:0 auto;
  width: 90%;
}

.hamburger{
  cursor: pointer;
  height:15px;
  width:20px;
  position: relative;
}

.nav__list{
  background-color: white;
  top:20px;
  position:absolute;
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1.5em;
  padding:1.5em;
  width:90vw;
  margin-top: 3em;
}

.active{
  display:none;
}

.nav__list::after{
  position: absolute;
  right:0;
  top:-30px;
  content:"";
  width:0;
  height:0;
  border-right: 30px solid white;
  border-left: 30px solid transparent;
  border-top: 30px solid transparent
}


.hero__img{
  background:url("./images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:70vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title{
  font-size: var(--font-hero);
  color:var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 1em;
}

.container{
  width:85%;
  margin: 0 auto;
  padding:2em 0;
}

.transform,
.stand-out{
  text-align: center;
}

.img-wrapper{
  height: 30vh;
}

.transform__img-ctn{
  background: url("images/mobile/image-transform.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height:100%;
}

.stand-out__img-ctn{
  background: url("images/mobile/image-stand-out.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height:100%;
}

.article__title{
  color:var(--dark-desaturated-blue);
  font-size: 1.6rem;
  font-size: var(--font-article-title);
}

.article__content{
  color:var(--dark-grayish-blue);
  font-size: var(--body-font-size);
  line-height: 1.4;
  margin: 1.5em 0;
}

/* Graphic Design Section */
.two-col{
  display:block;
  height:80vh;
}
.img-graphic{
  background: url("./images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:50%;
}

.img-photography{
  background: url("./images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:50%;
}

.article-graphic,
.article-photography{
  display:flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  height:100%;
}


.two-col__title{
  padding-bottom: 1em ;
  font-size: 1.6rem;
  font-size: var(--font-two-col-title);
  color:var(--dark-desaturated-blue);
  opacity: 0.8;
}

.two-col__content{
  padding-bottom: 1em;
  font-size: 0.8rem;
  color:var(--dark-desaturated-blue);
  opacity: 0.8;
  line-height: 1.6;
  font-size: var(--body-font-size);
}


/* Client Testimonials */

.testimonials{
  text-align: center;
}

.testimonials__title{
  color:var(--dark-grayish-blue);
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-size: var(--body-font-size);
  letter-spacing: 4px;
}

.testimonials__avatar{
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-top:3em;
}

.testimonials__text{
  font-size: 0.9rem;
  font-size: var(--body-font-size);
  line-height: 1.8;
  margin: 1.5em 0;
  color:var(--dark-grayish-blue)
}

.testimonials__name{
  margin:0.5em;
  font-size: var(--body-font-size);
}

.testimonials__position{
  color:var(--dark-grayish-blue);
  font-size: 0.8rem;
  opacity: 0.8;
  font-size: var(--font-testimonials-position);
}

.gallery{
  display:flex;
  flex-wrap: wrap;
}

.item img{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.item{
  margin: 0;
  padding: 0;
  width:50%;
}

.desktop-milkbottle,
.desktop-orange,
.desktop-cone,
.desktop-sugar-cubes{
  display:none;
}

/* Footer */
.footer{
  background-color: var(--footer-bg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin:2.5em;
  width: 50%;
  max-width: 150px;
}

.footer__links{
  display:flex;
  gap:2em
}

.footer__links a{
  text-transform: capitalize;
  color: var(--ft-dark-moderate-cyan);
  font-size: 1rem;
}

.contacts{
  display:flex;
  gap:1em;
  margin: 3.5em 0;
}

@media (min-width:600px){
  body{
    margin:0;
    padding:0;
  }
  :root{
    --font-article-title: 1.8rem;
    --font-two-col-title: 1.6rem;
    --font-testimonials-position:0.9rem;
    --body-font-size:20px;
  }

  .container{
    padding: 0 4em;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .transform{
    display:flex;
    flex-direction: row-reverse;
    /* min-height: 30vh; */
    height:32rem;
  }

  .img-wrapper{
    height:100%;
    width: 50%;
  }


  .transform__img-ctn{
    background: url("./images/desktop/image-transform.jpg") no-repeat;
  }
  .stand-out__img-ctn{
    background: url("./images/desktop/image-stand-out.jpg") no-repeat;
  }
  .transform__img-ctn,
  .stand-out__img-ctn{
    background-position: center;
    background-size: cover;
    height:100%;
    width:100%;
    /* min-height: 0; */
  }

  .transform__article,.stand-out__article{
    text-align: left;
    width:50%;
    margin:0;
  }

  .stand-out{
    display:flex;
    margin:0;
    height:32rem;
  }

  .two-col{
    display:flex;
  }

  .two-col{
    height:32rem;
  }
  .img-graphic{
    background: url("./images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width: 50%;
  }
  
  .img-photography{
    background: url("./images/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width: 50%;
  }
  
  .article-graphic,
  .article-photography{
    display:flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    height:100%;
    padding: 4em 6em;
  }
  



  /* Testimonials 3 col */

  .testimonials{
    padding: 10em 0;
  }

  .testimonials__row{
    display:flex;
    gap:2.5em;
  }

  /* Gallery */
  .gallery{
    display:flex;
    flex-wrap: nowrap;
  }

  .desktop-milkbottle,
  .desktop-orange,
  .desktop-cone,
  .desktop-sugar-cubes{
    display:block;
  }
  .mobile-milkbottle,
  .mobile-orange,
  .mobile-cone,
  .mobile-sugar-cubes{
    display:none;
  }
}